{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <title>Hello World</title>
</head>

<body style="background-color: whitesmoke;">
  

    <h1 style="text-align: center;"></h1>
    <div class="w1-container" style=" background-color: whitesmoke; text-align: center; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; ">
       
        <img src="static/alin.jpg" height="150" width="150" style="border-radius: 25%;">
     
        <h3 style="color: #302c2c;"><b>Alina Dhifan Ajriya</b></h3>
        <h4 style="color: #302c2c;">1906399474</h4>
        <h4 style="color: #302c2c">Information System <br> Faculty of Computer Science</h4>
        <h4 style="color: #302c2c;">2019</h4>
        <h3 style="color: whitesmoke;"> THIS IS AN EMPTY SPACE</h3>
    </div>

    <div style="background-color: whitesmoke; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
        <h3 style="color: whitesmoke;"> THIS IS AN EMPTY SPACE</h3>
        <h4 style="color: #302c2c; text-align: center;"><b>About Me:</b></h4>
        <p style="text-align: center;"> 
            Hi everyone, welcome to my first website. This is the first time i made my own website, so it still far from prefection. <br>
            I'm an Universitas Indonesia Student, majoring in Information System Faculty of Computer Science. <br>
            Also, im still exploring the world of computer science.
            <br>
        </p>
        <h3 style="color: whitesmoke;"> THIS IS AN EMPTY SPACE</h3>

    </div>
    <div style="color:#302c2c; text-align: center; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; background-color: whitesmoke;">
        <h3 style="color: whitesmoke;"> THIS IS AN EMPTY SPACE</h3>
        <h3 style="color: #302c2c; text-align: center;"><b>Hobby</b><br></h3>
        <table style= "margin-left: auto;margin-right: auto;">
         <tr>
            <th>Design</th>
            <th style="color: whitesmoke;">   NOTHING IS HERE  </th>
            <th>Social</th>
         </tr>
         <tr>
             <td> 
                 <img src="static/design.png" height="100" width="100" alt="design">
             </td>
             <td>

             </td>
             <td>
                <img src="static/social.png" height="100" width="100" alt="design">
            </td>
             </td>
         </tr>
        </table>
        <h3 style="color: whitesmoke;"> THIS IS AN EMPTY SPACE</h3>
                     
    </div>
    <div class="w1-container" style="background-color: whitesmoke; text-align: center; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; ">
        <h3 style="color: whitesmoke;"> THIS IS AN EMPTY SPACE</h3>
        <h3 style="color: #302c2c;"><b>Education</b></h3>
          <table style= "margin-left: auto;margin-right: auto;">
            <tr>
               <th>SMA Labschool Cibubur
                <h3 style="color: whitesmoke;"> THIS IS AN EMPTY SPACE</h3>
               </th>
               <h3 style="color: whitesmoke;"> THIS IS AN EMPTY SPACE</h3>
               <th style="color: whitesmoke;">   NOTHING IS HERE  </th>
               <th>Universitas Indonesia
                <h3 style="color: whitesmoke;"> THIS IS AN EMPTY SPACE</h3>
               </th>
               
            </tr>
            <tr>
                <td> 
                    <img src="static/labs.jpg" height="100" width="150" style="border-radius: 20%;">
                </td>
                <td>
   
                </td>
                <td>
                    <img src="static/ui.jpg" height="100" width="150" style="border-radius: 20%;">         </td>
                </td>
            </tr>
           </table>
           <h3 style="color: whitesmoke;"> THIS IS AN EMPTY SPACE</h3>
    
    </div>
    


    <footer style= "color:#302c2c; text-align: center; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; background-color: white;">

        <table style= "margin-left: auto;margin-right: auto;">
            <tr style="color: white;">
               <th>Linkedin</th>
               <th style="color: white;">   NOTHING IS HERE  </th>
               <th>Instagram</th>
            </tr>
            <tr>
                <td> 
                    <h4> 
                        <a href="https://www.instagram.com/alinadhifan/">
                    <img src="static/linkedin.png" style="width:50px; height:50px" title="instagram" alt="linkedin"></a>
                    </h4>
                </td>
                <td>
   
                </td>
                <td>
                    <h4> 
                        <a href="https://www.instagram.com/alinadhifan/">
                        <img src="static/ig.png" style="width:50px; height:50px" title="instagram" alt="instagram"></a> 
                    </h4>
                 </td>
                </td>
            </tr>
           </table>
    </footer>
</body>
</html>
